<% @page_title = "Dashboard" -%>
<div class="twenty-four-col">
  <div class="twenty-four-col">
    <h2>Recently created</h2>
    <% if @recent_content.any? %>
      <ul>
        <%= render :partial => "content/content", :collection => @recent_content %>
      </ul>
    <% else %>
      <p class="inner-message">No content has been created</p>
    <% end %>
  </div>

  <div class="twenty-four-col">
    <h2>Recently published</h2>
    <% if @recent_published.any? %>
      <ul>
        <%= render :partial => "content/content", :collection => @recent_published %>
      </ul>
    <% else %>
      <p class="inner-message">No content is in a published state</p>
    <% end %>
  </div>
  
  <div class="twenty-four-col">
    <h2>Upcoming</h2>
    <% if @upcoming_content.any? %>
      <ul>
        <%= render :partial => "content/content", :collection => @upcoming_content %>
      </ul>
    <% else %>
      <p class="inner-message">No content to be published in the future</p>
    <% end %>
  </div>
  
  
</div>